<style>
  body {
	background-color: rgb(26, 31, 50);
    }

   a:hover, a:focus {
	text-decoration: none;
	color:rgb(79,114,94);
   }
  a {
        color:rgb(225,216,118);
    }


    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: absolute;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0 60px;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

</style>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
	  <%= image_tag("bg1.jpg")%> 
          <div class="container">
            <div class="carousel-caption"><!-- 
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <!-- <a class="btn btn-large btn-primary" href="#">Sign up today</a> -->
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("bg2.jpg")%>
          <div class="container">
            <div class="carousel-caption"><!-- 
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <!-- <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("bg3.jpg")%>
          <div class="container">
            <div class="carousel-caption"><!-- 
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <p class="feature"><%= link_to 'Diary', diaries_path %></p>
          <%= image_tag("starry4.jpg", class: "img-circle" , height: "120px", width: "120px")%>
        </div><!-- /.span4 -->
        <div class="span4">
          <p class="feature"><%= link_to 'Favor', favors_path %></p>
          <%= image_tag("starry4.jpg", class: "img-circle" , height: "120px", width: "120px")%>
        </div><!-- /.span4 -->
        <div class="span4">
          <p class="feature"><%= link_to 'Contact', contacts_path %></p>
          <%= image_tag("starry4.jpg", class: "img-circle" , height: "120px", width: "120px")%>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

