

<%= render "share/navibar" %>

<!-- Left Side Navi Bar -->
   <!-- <div class="container-fluid">
   <!-- <div class="row-fluid"> -->

   <div class="row-fluid font-moon">
   	
   	<%= render "email" %>
   	
   </div><!--/hero-unit -->


   <!-- </div>--/container-->
   <div class="navbar-fixed-bottom contact font-moon">
   	<center>
   		<% @contacts.each do |contact| %>   
   		<% if contact["label"] == 1 %>  
   		<span class="contact-link"><%= link_to "Gmail", "mailto:" + contact["content"] %></span>
   		<% else %>
   		<span class="contact-link"><a href="http://<%= contact['link'] %>"> <%= contact["content"] %></span>
   		<% end %>
   		<% end %> 
   	</center>
   </div>
   





