<style>

    .space {
    	height: 360px;
    }

@font-face {
	font-family: basicFont;
	src: url(sansation_bold.woff)	
}

.contact{padding:50px;}
.contact-link {
	padding:10px;
	text-align:center;
}


@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

a:hover, a:focus {
	text-decoration: none;
	color:rgb(79,114,94);
}
a {
	color:rgb(225,216,118);
}

</style>

<%= render "share/navibar" %>

<!-- Left Side Navi Bar -->
   <!-- <div class="container-fluid">
   <!-- <div class="row-fluid"> -->


<div class="contact-body">

   	<div class="row-fluid font-moon">

   		<%= render "email" %>

   	</div><!--/hero-unit -->

<div class="space">
<div>

   	<!-- </div>--/container-->
   	<div class="navbar-fixed-bottom contact font-moon">
   		<center>
   			<% @contacts.each do |contact| %>   
   			<% if contact["label"] == 1 %>  
   			<span class="contact-link"><%= link_to "Gmail", "mailto:" + contact["content"] %></span>
   			<% else %>
   			<span class="contact-link"><a href="http://<%= contact['link'] %>"> <%= contact["content"] %></span>
   			<% end %>
   			<% end %> 
   		</center>
   	</div>
</div>





